<p id="notice"><%= notice %></p>

<h1>Organizations</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Industry</th>
      <th>Address</th>
      <th>Bucket name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= image_tag organization.logo.variant(resize: '100x100') %></td>
        <td><%= organization.name %></td>
        <td><%= organization.name %></td>
        <td><%= organization.industry %></td>
        <td><%= organization.address %></td>
        <td><%= organization.bucket_name %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'News', organization_news_index_path(organization) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
