<p id="notice"><%= notice %></p>

<%= image_tag @organization.logo.variant(resize: '100x100') %>
<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Industry:</strong>
  <%= @organization.industry %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Bucket name:</strong>
  <%= @organization.bucket_name %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
